{% extends 'base.html' %}

{% block content %}
    <h1>{{task.title}}</h1>
     {{error}}
    <!--form action="". Si no colocamos action lo mandara a a la misma ruta de donde nace la info-->
    <form method="POST">
       {% csrf_token %}
       {{form.as_p}} 
       <button>
         Actualizar
       </button>
    </form>
    
    <form action="{% url 'complete_task' task.id %}" method="POST">
      {% csrf_token %}
      <button>
        Completada
      </button>
    </form>

    <form action="{% url 'delete_task' task.id %}" method="POST">
      {% csrf_token %}
      <button>
        Eliminar
      </button>
    </form>

{% endblock %}
 